<html noscrollbar>
<title>Community Board: Home</title>
<body><br>
<table width=755>
	<tr>
		<center><td align=center valign=top>
			<!--Основной блок с задним фоном-->
			<table border=0 cellpadding=0 cellspacing=0 width=769 height=492 background="l2ui_ct1.Windows_DF_TooltipBG">
				<tr>
					<td valign="top" align="center">
						<table width=755 height=468>
							<tr>
								<td width=755><br>
									<!--Блок заголовок-->
									<table border=0 cellspacing=0 cellpadding=0 width=755>
										<tr>
											<td width=755>
												<table width=755 height=92>
													<tr>
														<td width=220 align=left valign=top>
															<table width=747 height=25 bgcolor=0e0d0d>
																<tr>
																	<td width=755 align=center valign=center>
																		<font name="hs11" color="865D2E">Navigation</font>
																	</td>
																</tr>
															</table>
															<table width=755 height=34 bgcolor=444444>
																<tr>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsbuffer" value="Buffer" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbscareer" value="Career" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsshop:shop" value="Shop" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsrating:top_pk" value="Rating" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsservice:serviceType:player:1" value="Private Office" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
															<table width=755 height=34 bgcolor=333333>
																<tr>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsteleport" value="Teleport" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsopen:other:events" value="Events" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsopen:other:command" value="Commands" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsopen:other:help" value="Help" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td width=26 height=14 align=center valign=top>
																		<table width=102 height=24 background="l2ui_ct1.Windows_DF_TooltipBG">
																			<tr>
																				<td width=122 height=24 align=center valign=top>
																					<button action="bypass _bbsopen:other:admin_info" value="Administration" width=100 height=22 back="L2UI_CT1.ListCTRL_DF_Title_Down" fore="L2UI_CT1.ListCTRL_DF_Title"/>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
                                    <br><br>
									<!--Блок с рейтами-->
                                    <table width=755 height=128>
                                        <tr>
                                            <td valign=top width=256>
                                                <img src="L2Font-e.mini_logo-e" width="256" height="128">
                                            </td>
                                            <td width=485>
                                                <table border=0 cellpadding=0 cellspacing=0 width=485>
                                                    <tr>
                                                        <td align=center width=485>
                                                            <font name="hs9" color="865D2E">Rate</font><br1>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align=center width=250>
                                                            <img src="l2ui.squaregray" width="250" height="1">
                                                        </td>
                                                    </tr>
                                                </table>
												<br>
                                                <table cellspacing=0 cellpadding=0 width=465 height=69>
                                                    <tr>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">XP</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_xp}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">SP</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_sp}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">Adena</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_adena}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">Items</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_items}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">Spoil</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_spoil}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">RaidBoss</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_raid}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">Manor</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>																		
                                                                        x<th th:text="${rate_manor}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">ClanRep</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_clanrep}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">Hellbound</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_hellbound}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
													<tr>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">Siege</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_siege}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width=120 align=center valign=center>
                                                            <table width=120 height=18>
                                                                <tr>
                                                                    <td width=70 align=right valign=center>
                                                                        <font color="CCCC33">Quests</font>
                                                                    </td>
                                                                    <td width=10 align=center valign=center>
                                                                        :
                                                                    </td>
                                                                    <td width=60 align=left valign=center>
                                                                        x<th th:text="${rate_quest}"/>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
									<!--Блок с временем-->
									<br><center><table width=700>
										<tr>
											<td width=482 align=center valign=top height=1>
												<table>
													<tr>
														<td align=right valign=top width=140>
															<font color="865D2E" name="hs9">Time: </font><font name="hs9"><th th:text="${time}"/></font>
														</td>
														<td align=center valign=top width=160>
															<font color="865D2E" name="hs9">Online: </font><font name="hs9"><th th:text="${online}"/></font>
														</td>
														<td align=left valign=top width=140>
															<font color="865D2E" name="hs9">Trading: </font><font name="hs9"><th th:text="${offtrade}"/></font>
														</td>

													</tr>
												</table>
											</td>
										</tr>
									</table></center><br>
									<!--Блок с Информацией-->
									<center><table width=700 height=102 background="l2ui_ct1.Windows_DF_TooltipBG">
										<tr>
											<td>
												<table height=45 bgcolor=29220A>
													<tr>
														<td width=475 height=45 align=left valign=center>
															<font name="hs9">Welcome </font><font color=669900 name="hs9"><th th:text="${player_name}"/></font><br>
															Dear customer,thank you for purchasing our product <font color=865D2E name="hs9">"Java emulator Lineage 2: High Five"</font>, we hope our cooperation will be long and fruitful for both sides.<br>
															On our site you will be able to report bugs, find useful information, as well as the value-added services.
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table></center>
								</td>
							</tr>
						</table>						
						<!--Подвал с копирайтом-->
						<table width=755>
							<tr>
								<td width=760 align=center valign=top>
									%include(blocks/copyright.htm)%
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td></center>
	</tr>
</table>
</body>
</html>